body{
font-family:Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#111;
color:white;
padding:15px;
display:flex;
justify-content:space-between;
}

nav{
background:#333;
padding:10px;
}

nav a{
color:white;
margin-right:15px;
text-decoration:none;
}

.hero{
padding:40px;
text-align:center;
background:white;
}

.posts{
padding:20px;
display:flex;
gap:20px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.dark{
background:#111;
color:white;
}
